<% provide(:title, 'All pages') %>
<h1>все страницы</h1>

<ul class="pages">
  <%= render @pages %>
  <%= link_to "Создать страницу", add_page_path, class: "btn btn-large btn-primary" %>
</ul>
