<% provide(:title, 'All pages') %>
<h1>Все страницы</h1>

<ul class="pages">
  <%= nested_pages @pages.arrange(:order => :id) %>
  <%= link_to "Создать страницу", add_path, class: "btn btn-large btn-primary" %>
</ul>
