<% provide(:title, 'Все страницы') %>
<h1>Все страницы</h1>

<ul class="pages">
  <%= nested_pages @pages.arrange(:order => :id) %>
</ul>
<%= link_to "Создать страницу", new_page_path(:parent_id => nil), class: "btn btn-medium btn-primary" %>
